.messageCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
}

.messagePhone, .messageEmail {
    color: grey;
    margin: 0;
}

.replyBtn{  
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(38, 38, 38);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius:5px
}

.replyBtn:hover{
    background-color: rgba(38, 38, 38,0.8);
}