@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");


body {
    font-family: 'Noto Sans TC' !important;
    margin: 0;
}


.wts{
    position: fixed;
    bottom: 0;
    right: 0;
    color:rgb(49, 216, 49);
    animation-play-state:paused;
}

.wts:hover{
    animation-play-state:running;
}

.bgColor{
    background-color: rgb(253, 247, 239);
}   

.navBg{
    border: 2px solid rgba(88, 108, 78, 0.634);
    background-color: rgb(169, 169, 169);
}

.greenRentalLogo{
    width: 210px;
    position: absolute;
    top: 0;
    margin-left: 2rem;
}


.nav-car{
    width: 45px;
    display: inline block;
    position: absolute;
    bottom: 52px;;
}

.building-img{
    width: 100%;
}

.footerUl li, .footerUl li a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footerUl li a:hover{
    color:rgb(109, 221, 118);
}

.footerUl li a:visited{
    text-decoration: underline;
}

.car-items{
    padding-top: 120px;
}

#card :hover{
    border: thick rgb(148, 150, 148);
}



.nextbutton{
    background-color: rgb(82, 82, 82);
  }
  .nextbutton :hover{
    opacity:1 ;
  }
  