@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

body {
    font-family: 'Noto Sans TC' !important;
}

.bgColor{
    background-color: rgb(253, 247, 239);
}

.navBg{
    background-color: rgb(169, 169, 169);
}

.greenRentalLogo{
    width: 215px;
    position: absolute;
    top: 0;
    margin-left: 2rem;
}

.nav-car{
    width: 45px;
    display: inline block;
    position: absolute;
    bottom: 50px;;
}

.building-img{
    width: 350px;
}