.top-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 100px 40px 0 50%;
    box-sizing: border-box;
  }

.banner-text-header {
  font-size: 70px;
  font-weight: bolder;
  color: #ff0000;
}

.banner-text {
  font-weight: bolder;
  color: #ff0000;
}

.promoheader {
  text-align: center;
}

.promobody {
  text-justify: auto;
}
