.top-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 100px 40px 0 50%;
    box-sizing: border-box;
  }

.banner-text-header {
  font-size: 70px;
  font-weight: bolder;
  color: #cf3000;
}

.banner-text-header:hover {
  color: #a200a5;
}

.banner-text {
  font-weight: bolder;
  color: #cf3000;
}

.banner-text:hover {
  color: #a200a5;
}

.promoheader {
  text-align: center;
}

.promobody {
  text-justify: auto;
}

.head1 {
  font-weight: bolder;
  color: #cf3000;
}

.head1:hover
{
color: #a200a5;
}

.head2 {
  font-weight: bolder;
  color: #cf3000;
}

.head2:hover {
  color: #a200a5;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
